In [3]:
import pandas as pd
# 1704067140000
data = pd.read_csv(r"C:\Users\USER\Downloads\ADAUSDT-1m-2023-12-31.csv")
data.columns = [
                    "open_time",
                    "open",
                    "high",
                    "low",
                    "close",
                    "volume",
                    "close_time",
                    "quote_asset_volume",
                    "number_of_trades",
                    "taker_buy_base_asset_volume",
                    "taker_buy_quote_asset_volume",
                    "ignore",
                ]
# 每個欄位型態
data_types = {
    "open_time": "int64",
    "open": "float64",
    "high": "float64",
    "low": "float64",
    "close": "float64",
    "volume": "int64",
    "close_time": "int64",
    "quote_asset_volume": "float64",
    "number_of_trades": "int64",
    "taker_buy_base_asset_volume": "int64",
    "taker_buy_quote_asset_volume": "float64",
    "ignore": "int64",
}

data = data.astype(data_types)
data

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,1703980800000,0.6015,0.6022,0.6011,0.6022,291401,1703980859999,175291.7912,496,187852,113014.4483,0
1,1703980860000,0.6022,0.6022,0.6017,0.6018,227485,1703980919999,136930.3502,363,82343,49565.7274,0
2,1703980920000,0.6017,0.6022,0.6015,0.6021,207335,1703980979999,124755.2306,295,97179,58478.7915,0
3,1703980980000,0.6022,0.6030,0.6022,0.6026,226110,1703981039999,136264.6508,409,129751,78192.8068,0
4,1703981040000,0.6025,0.6027,0.6022,0.6025,198059,1703981099999,119320.7312,305,115915,69834.2589,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1704066900000,0.5935,0.5939,0.5933,0.5938,308337,1704066959999,183040.2618,391,192470,114254.4558,0
1436,1704066960000,0.5938,0.5947,0.5934,0.5945,401999,1704067019999,238757.9444,490,238598,141721.7165,0
1437,1704067020000,0.5946,0.5950,0.5945,0.5950,391879,1704067079999,233076.0694,478,174872,104014.0201,0
1438,1704067080000,0.5950,0.5952,0.5949,0.5952,224534,1704067139999,133610.9062,377,143425,85349.7603,0
1439,1704067140000,0.5952,0.5952,0.5940,0.5941,468069,1704067199999,278288.4594,503,131892,78394.2615,0

In [4]:
# 存成 .parquet
data.to_parquet(r"C:\Users\USER\Downloads\ADAUSDT-1m-2023-12-31.parquet")